{% extends 'ganesa/pages/index.html' %}
{% load staticfiles %}
{% block content%}
<script src="{% static 'ganesa/vendor/charts/highstock.src.js' %}"></script>
<script src="{% static 'ganesa/vendor/jquery/jquery.min.js' %}"></script>

    <div class="col-lg-12">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                {{  device.name }}
                            </div>
                            <div class="panel-body">
                                <p>DEVICE NAME: {{ device.name }}</p>
                                <p>DEVICE ID: <span>{{ device.device_id }}</span> </p>
                                <input type="hidden" name="deviceId" id="deviceId" value="{{ device.device_id }}"/>
                            </div>

                            <div class="panel-footer">

                                Device status: {% if device.is_online %} <span id="device-status" class="glyphicon glyphicon-record device-online"> Online </span> {% else %} <span id="device-status" class="glyphicon glyphicon-record device-offline"> Offline </span>{%  endif %}

                            </div>
                        </div>
        </div>

    {% for sensor in device.sensors.all %}

                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                {{ sensor.name }}
                            </div>
                            <div id="sensor-chart   -{{ sensor.get_chart_name }}" style="width:100%; height:400px;"></div>
                        </div>
                        <!-- /.panel -->
                    </div>
        {% endfor %}

    <script>

    var data = jQuery.parseJSON("{{ device_data|escapejs }}");
   // console.log(data);
    function getDataForChart(name) {
        var sensorData = data[name];
        var series = [];
        var dataX = [];
        var dataY = [];
        var dataZ = [];
        //console.log(sensorData)
        for(var k in sensorData) {
            console.log(sensorData[k]['meta']['X']);
            dataX.push( [sensorData[k]['meta']['X'], sensorData[k]['data']['time']]);
            dataY.push( [sensorData[k]['meta']['Y'], sensorData[k]['data']['time']]);
            dataZ.push( [sensorData[k]['meta']['Z'], sensorData[k]['data']['time']]);
        }
        series.push({
            name: 'X',
            data: dataX
        });
        series.push({
            name: 'Y',
            data: dataY
        });
        series.push({
            name: 'Z',
            data: dataZ
        });

        console.log(series);
        return series;

    }
    {% for sensor in sensor_names %}

    Highcharts.stockChart('sensor-chart-{{ sensor }}', {

        rangeSelector: {
            selected: 4
        },

        yAxis: {
            labels: {
                formatter: function () {
                    return (this.value > 0 ? ' + ' : '') + this.value + '%';
                }
            },
            plotLines: [{
                value: 0,
                width: 2,
                color: 'silver'
            }]
        },

        plotOptions: {
            series: {
                compare: 'percent',
                showInNavigator: true
            }
        },

        tooltip: {
            pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.change}%)<br/>',
            valueDecimals: 2,
            split: true
        },

        series: getDataForChart("{{ sensor }}")
    });

    {% endfor %}
    </script>
{% endblock %}
