{% extends 'ganesa/pages/index.html' %}
{% load staticfiles %}

{% block content %}
             <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboard</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ devices.count }}</div>
                                    <div>Devices connected</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ dataCount }}</div>
                                    <div>Data Packages Received</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}