{% extends 'ganesa/pages/device.html' %}
{% load staticfiles %}
{% block device_content%}

    {% for sensor in device.sensors.all %}

                    <a href="/device_sensor_settings/device_id/{{ device.device_id }}/sensor_id/{{ sensor.id }}">
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                {{ sensor.name }}
                            </div>
                        </div>
                        <!-- /.panel -->
                    </div>
                    </a>
        {% endfor %}

{% endblock %}