{% extends 'ganesa/pages/index.html' %}
{% load staticfiles %}
{% block content%}
    <script src="{% static 'ganesa/vendor/charts/hichart.js' %}"></script>

    <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Device info</h1>
                </div>
                <!-- /.col-lg-12 -->
    </div>
    <div class="row">
    {% block device_info %}
        <div class="col-lg-12">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                {{  device.name }}
                            </div>
                            <div class="panel-body">
                                <p>DEVICE NAME: {{ device.name }}</p>
                                <p>DEVICE ID: <span>{{ device.device_id }}</span> </p>
                                <input type="hidden" name="deviceId" id="deviceId" value="{{ device.device_id }}"/>
                                <a href="/additional_device/{{ device.device_id }}">Go to saved data</a>
                                <a href="/logs_list/{{ device.device_id }}">Logs list</a>
                                <a href="/device_settings/{{ device.device_id }}">Settings</a>
                            </div>

                            <div class="panel-footer">

                                Device status: {% if device.is_online %} <span id="device-status" class="glyphicon glyphicon-record device-online"> Online </span> {% else %} <span id="device-status" class="glyphicon glyphicon-record device-offline"> Offline </span>{%  endif %}

                            </div>

                        </div>
        </div>
        {% endblock %}
    {% block device_content %}
                {% for sensor in device.sensors.all %}

                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                {{ sensor.name }}
                            </div>
                            <div id="sensor-chart-{{ sensor.get_chart_name }}" style="width:100%; height:400px;"></div>
                        </div>
                        <!-- /.panel -->
                    </div>
                     <script>
        var chart = Highcharts.chart('sensor-chart-{{ sensor.get_chart_name }}', {
            type: 'spline',
            title: {
                text: '{{ sensor.name }}'
            },
            xAxis:{
                tickPixelInterval: 150
            },
            yAxis: {

            },
            plotOptions: {
            series: {
                pointStart: 1,
                pointInterval: 0.5,
                 marker: {
                enabled: false
            }
            }
            },
            series: [{
                data: [],
                name: 'X',
                type: 'spline'
            }, {
                data: [],
                name: 'Y',
                type: 'spline'
            }, {
                data: [],
                name: 'Z',
                type: 'spline'
            }]

        });

    /*var chart = Highcharts.chart('container', {
    chart: {
        type: 'spline',
        animation: Highcharts.svg, // don't animate in old IE
        marginRight: 10
    },
    title: {
        text: 'Live random data'
    },
    xAxis: {
        type: 'datetime',
        tickPixelInterval: 150
    },
    yAxis: {
        title: {
            text: 'Value'
        },
         min: -50,
              max: 50,
        plotLines: [{
            value: 0,
            width: 1,
            color: '#808080'
        }]
    },
    tooltip: {
        formatter: function () {
            return '<b>' + this.series.name + '</b><br/>' +
                Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                Highcharts.numberFormat(this.y, 2);
        }
    },
    legend: {
        enabled: false
    },
    exporting: {
        enabled: false
    },
     series: [{
                data: [],
                name: 'X',
                type: 'spline'
            }, {
                data: [],
                name: 'Y',
                type: 'spline'
            }, {
                data: [],
                name: 'Z',
                type: 'spline'
            }]

});*/
    </script>

                {% endfor %}
{% endblock %}
    </div>
<!-- jQuery -->
    <script src="{% static 'ganesa/vendor/jquery/jquery.min.js' %}"></script>

    <script src="{% static 'ganesa/js/device.js' %}"></script>

{% endblock %}