<div class="col-lg-12">
<form name="settings-data", method="POST">
  <div class="form-group mb-2">
    <label for="exampleFormControlInput1">X Limit Value</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" name="limit-x" value="{{ setting.X.limit }}" >
      <label for="exampleFormControlSelect1">Behaviour</label>
    <select class="form-control" id="exampleFormControlSelect1" name="limit-x-behavior">
      <option value="INC" {% if setting.x.behavior ==  'INC' %} selected {% endif %}>Increase</option>
      <option value="DEC" {% if setting.x.behavior ==  'DEC' %} selected {% endif %}>Decrease</option>
      <option value="EQ" {% if setting.x.behavior ==  'EQ' %} selected {% endif %}>Equal</option>
    </select>
  </div>
  <div class="form-group mb-2">
    <label for="exampleFormControlTextarea1">Y Limit Value</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" name="limit-y" value="{{ setting.Y.limit }}">
      <label for="exampleFormControlSelect2">Behaviour</label>
    <select class="form-control" id="exampleFormControlSelect2" name="limit-y-behavior">
      <option value="INC" {% if setting.y.behavior ==  'INC' %} selected {% endif %}>Increase</option>
      <option value="DEC" {% if setting.y.behavior ==  'DEC' %} selected {% endif %}>Decrease</option>
      <option value="EQ" {% if setting.y.behavior ==  'EQ' %} selected {% endif %}>Equal</option>
    </select>
  </div>
  <div class="form-group mb-2">
    <label for="exampleFormControlTextarea1">Z Limit Value</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" name="limit-z" value="{{ setting.Z.limit }}">
      <label for="exampleFormControlSelect3">Behaviour</label>
    <select class="form-control" id="exampleFormControlSelect3" name="limit-z-behavior">
      <option value="INC" {% if setting.z.behavior ==  'INC' %} selected {% endif %}>Increase</option>
      <option value="DEC" {% if setting.z.behavior ==  'DEC' %} selected {% endif %}>Decrease</option>
      <option value="EQ" {% if setting.z.behavior ==  'EQ' %} selected {% endif %}>Equal</option>
    </select>
  </div>
    <button type="submit" class="btn btn-primary mb-2">Confirm identity</button>
</form>
</div>